.intro-container {
    width: 90vw;
    margin: 0 auto;
    margin-top: clamp(20px, 4vw, 30px);
    margin-bottom: clamp(16px, 4vw, 24px);
}
.intro-container .image {
    width: 100%;
    border-radius: 32px;
    box-shadow: 10px 20px 20px 3px rgba(0, 0, 0, 0.1);
}

.sections {
    padding: 10px 0;
    text-align: left;
}

.category-container, .quizHistory-wrapper{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.category-container h3, .quizHistory-wrapper h3{
    color: #cddc39;
    font-weight: 800;
    font-size: 2em;
    margin: 20px auto;
    text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.25);
}
.home-desc{
    color: white;
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px;
}

.category, .history {
    background-position: center;
    background-size: cover;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 21vw;
    height:30vh;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: none;
    position: relative;
}
/* color overlay */
.category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: background-color 0.3s ease; /* smooth fade */
}
.category:hover::before {
    background-color: rgba(0, 0, 0, 0); /* no overlay */
}

.category p {
    font-size: 40px;
    line-height: 0.8em;
    position: relative;
    z-index: 2;
    /*font-size: 1.2rem;*/
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

.category-selection, .quizHistory-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 categories per row */
    gap: 2vw;
}

.category:hover {
    background-color: #16a085;
    transform: scale(1.05);
}

.history{
    background-color: #fd752f;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}



@media screen and (max-width: 768px) {
    .category-selection {
        grid-template-columns: repeat(2, 1fr); /* 2 per row on small screens */
    }
    .category{
        height: 25vh;
        width: 40vw;
    }
    .category p{
        font-size: 20px;
    }
    .category-container h3, .quizHistory-wrapper h3 {
        color: #cddc39;
        margin: 20px auto;
    }
}
