body{
    background-image: linear-gradient(#00111E, #005294, #0073CF);
    height: 100%;
    margin: 0 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px){

}