.auth-form{
    padding: 3% 3%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 460px;
    margin: 0 auto;
    box-shadow: 5px 5px 15px 5px rgba(3, 33, 57, 0.82);
}
.outer{
    padding: 30px 0 40px;
}
.auth-form h2, .user-reg-form h2, .login-form h2{
    text-align: center;
    padding-bottom: 5%;
    font-weight: 800;
    color: #005294;
}

.user-reg-container, .login-container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    flex-wrap: wrap;
}
.user-registration-msg, .login-msg{
    padding-top: 3%;
    flex: 2;
}
.user-reg-form, .login-form{
    flex: 1;
    padding:30px 30px;
    background-color: white;
    height: clamp(500px, 100%, 700px);
    margin: 4% 5%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(3, 33, 57, 0.82);
}
.link{
    text-align: center;
    margin-top: 30px;
}

.profile-setup-avatar-img{
    max-height: clamp(80px, 100px, 135px);
    width: auto;

}