.auth-form{
    padding: 3% 3%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}
.outer{
    padding-top: 40px;
}
.auth-form h2, .user-reg-form h2, .login-form h2{
    text-align: center;
    padding-bottom: 3%;
    font-weight: 800;
    color: #005294;
}

.user-reg-container, .login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 92vh;
}
.user-registration-msg, .login-msg{
    flex: 2;
}
.user-reg-form, .login-form{
    flex: 1;
    padding:30px 30px;
    background-color: white;
    max-height: 550px;
    margin: 5% 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(3, 33, 57, 0.82);
}
.link{
    text-align: center;
    margin-top: 30px;
}